/vendor
/node_modules
.env
.DS_Store
scry-package/node_modules
scry-package/vendor
dummy-app/vendor
dummy-app/public/vendor
dummy-app/.env
dummy-app/bootstrap/cache/
dummy-app/storage/
dummy-app/composer.lock
