APP_NAME="Scry Dummy App"
APP_ENV=local
APP_KEY=base64:4qWv/8sHk3E8b0T2zS+YV9xJ0R1a2b3c4d5e6f7g8h8=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# PostgreSQL Connection (Default)
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=scry_pg_db
DB_USERNAME=scry_user
DB_PASSWORD=secret_password

# MySQL Connection (Secondary)
DB_MYSQL_HOST=127.0.0.1
DB_MYSQL_PORT=3306
DB_MYSQL_DATABASE=scry_my_db
DB_MYSQL_USERNAME=scry_user
DB_MYSQL_PASSWORD=secret_password
